<h1>Pokemons</h1>

<table>
	<thead>
		<th>id</th>
		<th>name</th>
		<th>height</th>
		<th>weight</th>
	</thead>
	<tbody>
		<% @pokemons.each do |pokemon| %>
		<tr>
			<td><%= pokemon.id %></td>
			<td><%= pokemon.name %></td>
			<td><%= pokemon.height %></td>
			<td><%= pokemon.weight %></td>
			<td><%= link_to 'Show', pokemon_path(pokemon) %></td>
			<td><%= link_to 'Edit', edit_pokemon_path(pokemon) %></td>
			<td><%= link_to 'Destroy', pokemon_path(pokemon),
			        method: :delete,
			        data: { confirm: 'Are you sure?' } %></td>
					</tr>
		<% end %>
	</tbody>
</table>
