<%= form_with scope: :pokemon, url: pokemons_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :img %><br>
    <%= form.text_area :img %>
  </p>

  <p>
    <%= form.label :height %><br>
    <%= form.text_area :height %>
  </p>

  <p>
    <%= form.label :weight %><br>
    <%= form.text_area :weight %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>